<html lang="en">
<head>
    <title>MovieFlix</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        input.ng-invalid {
            border-left: 5px solid red !important;
        }
        input.ng-valid {
            border-left: 5px solid green !important;
        }
        .errors p {
            color: red;
            margin: 0;
        }
    </style>
</head>
<body background="http://vignette4.wikia.nocookie.net/zigochen/images/1/14/Black-screen_2511_1.jpg/revision/latest?cb=20121106043000">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#"> <p><font size="7">MovieFlix</font></p></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">TV</a></li>
                <li><a href="#">Toprated</a></li>
                <li class="active"><a href="#">Create Movie Title</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="container_demo">
    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
    <div id="wrapper">
        <div id="login" class="animate form">
            <h1>Create Movie Title</h1>
            <form (ngSubmit)="onsubmit()" #userForm="ngForm">
                <p>
                    <label > Movie title</label> <input #inputTitle="ngModel" id="username" name="username"
                                                         type="text" required
                                                        [(ngModel)]="movie.title" >
                </p>
                <div *ngIf="inputTitle.errors && inputTitle.dirty" class="errors">
                    <p [hidden]="!inputTitle.errors.required">Name is required</p>
                </div>
                <p>
                    <label > Year </label> <input #inputYear="ngModel" id="password" name="password" required
                                                  type="number" placeholder="eg. 1994" [(ngModel)]="movie.year" min="1920" max="2017"/>
                </p>

                <div *ngIf="inputYear.errors && inputYear.dirty" class="errors">
                    <p [hidden]="!inputYear.errors.required">Year is required</p>
                </div>
                <p>
                    <label > Rated</label> <input #inputRated="ngModel" id="rating" name="rating" required
                                                   type="text" placeholder="eg. PG-13 or R"
                                                  [(ngModel)]="movie.rated" />
                </p>

                <div *ngIf="inputRated.errors && inputRated.dirty" class="errors">
                    <p [hidden]="!inputRated.errors.required">The Rated version is required</p>
                </div>
                <p>
                    <label > Release Date</label> <input #inputReleasedate="ngModel" id="release" name="release"
                    pattern ="/^(0[1-9]|1[012])[- \/.](0[1-9]|[12][0-9]|3[01])[- \/.]((?:19|20)\d\d)$/" required type="date" required placeholder="eg. 1998-01-09"
                                                         [(ngModel)]="movie.releasedate" />
                </p>

                <div *ngIf="inputReleasedate.errors && inputReleasedate.dirty" class="errors">
                    <p [hidden]="!inputReleasedate.errors.required">Release Date is required</p>
                    <p [hidden]="!inputReleasedate.errors.pattern">Invalid date</p>
                </div>
                <p>
                    <label > Genre </label> <input id="genre" name="genre" #inputGenre="ngModel"
                                                   type="text" placeholder="eg. Drama" required
                                                   [(ngModel)]="movie.genres" />
                </p>
                <div *ngIf="inputGenre.errors && inputGenre.dirty" class="errors">
                    <p [hidden]="!inputGenre.errors.required">Genre is required</p>
                </div>
                <p>
                    <label > Director </label> <input #inputDirector="ngModel" id="director" name="director"
                                                      type="text" placeholder="eg. Steven Spielberg" required
                                                      [(ngModel)]="movie.director" />
                </p>

                <div *ngIf="inputDirector.errors && inputDirector.dirty" class="errors">
                    <p [hidden]="!inputDirector.errors.required">Director is required</p>
                </div>
                <p>
                    <label > Writer </label> <input #inputWriter="ngModel" id="writer" name="writer"
                                                    type="text" placeholder="eg. Matt Damon, Ben Affleck" required
                                                    [(ngModel)]="movie.writer" />
                </p>

                <div *ngIf="inputWriter.errors && inputWriter.dirty" class="errors">
                    <p [hidden]="!inputWriter.errors.required">Writer is required</p>
                </div>
                <p>
                    <label > Actors </label> <input #inputActors="ngModel" id="Actor" name="actor"
                                                    type="text" placeholder="eg. Michael Boon, Ross Wilberg" required
                                                    [(ngModel)]="movie.actors" />
                </p>

                <div *ngIf="inputTitle.errors && inputTitledirty" class="errors">
                    <p [hidden]="!inputTitle.errors.required">Name is required</p>
                </div>
                <p>
                    <label > Plot</label> <input #inputPlot="ngModel" id="plot" name="plot" required
                                                 type="text" placeholder="eg. William was killed by the person"
                                                 [(ngModel)]="movie.plot"/>
                </p>
                <p>
                    <label > Language </label> <input #inputLanguage="ngModel" id="language" name="language"
                                                      type="text" placeholder="eg. French"
                                                      [(ngModel)]="movie.language" />
                </p>
                <p>
                    <label > Country</label> <input #inputCountry="ngModel" id="country" name="country"
                                                    type="text" placeholder="eg. Japan"
                                                    [(ngModel)]="movie.country" />
                </p>
                <p>
                    <label > Awards</label> <input #inputAwards="ngModel" id="award" name="award"
                                                   type="text" placeholder="eg. Won 5 Oscars,..."
                                                   [(ngModel)]="movie.awards" />
                </p>
                <p>
                    <label > Poster</label> <input #inputPoster="ngModel" id="poster" name="poster"
                                                   type="text" placeholder="eg. http://ia-media.com/....."
                                                   [(ngModel)]="movie.poster" />
                </p>
                <p>
                    <label > MetaScore</label> <input #inputMetascore="ngModel" id="metascore" name="metascore" pattern="^(0|[1-9][0-9]*)$"
                                                      type="number" placeholder="eg. 70"
                                                      [(ngModel)]="movie.metascore" min="1" max="100"/>
                </p>
                <p [hidden]="!inputMetaScore.errors.pattern">Invalid metascore</p>

                <p>
                    <label > ImdbRating </label> <input #inputImdbrating="ngModel" id="imdbrating" name="imdbrating"
                                                        type="text" placeholder="eg. 8.9"
                                                        [(ngModel)]="movie.imdbrating" />
                </p>

                <p>
                    <label > ImdbVotes</label> <input #inputImdbvotes="ngModel" id="imdbvotes" name="imdbvotes" pattern="^(0|[1-9][0-9]*)$"
                                                      type="text" placeholder="eg. 56789"
                                                      [(ngModel)]="movie.imdbvotes" />
                </p>
                <p [hidden]="!inputImdbvotes.errors.pattern">Invalid number</p>
                <p>
                    <label > ImdbId</label> <input #inputImdbId="ngModel" id="imdbid" name="imdbid"
                                                   type="text" placeholder="eg. tt0119217"
                                                   [(ngModel)]="movie.imdbid" />
                </p>
                <p>
                    <label > Type of Category</label> <br> <input #inputcategory="ngModel" type="radio"  name="chooseone" [(ngModel)]="movie.type"><label> TV</label><br> <input type="radio" name="chooseone" value="Movie"><label > Movie</label><br>


                </p>

                <p class="login button">
                    <input type="submit" value="Create Title" />
                </p>
            </form>
        </div>
    </div>
</div>
</body>
</html>
