<!DOCTYPE html>
<html lang="en">
<head>
    <title>MovieFlix</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style3.css" />
    <link rel="stylesheet" type="text/css" href="css/animate-custom.css" />
    <link rel="stylesheet" type="text/css" href="css/als_style.css" />
</head>
<body background="http://vignette4.wikia.nocookie.net/zigochen/images/1/14/Black-screen_2511_1.jpg/revision/latest?cb=20121106043000">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#"> <p><font size="7">MovieFlix</font></p></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">TV</a></li>
                <li><a href="#">Toprated</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="als-container" id="demo3" style="margin-top:50px">
    <div class="als-viewport" style="width:990px;">
        <ul class="als-wrapper">

            <li class="als-item"> <a href="http://viooz.vc/movies/Collateral_Beauty__2016-22199.html" title="Watch Collateral Beauty (2016)"> <img src="https://upload.wikimedia.org/wikipedia/en/9/90/Collateral_Beauty_poster.png" alt="Collateral Beauty (2016)" width="95" height="140" border="0"/></a>
                <p style="color:white">Collateral Beauty</p>
            </li>
            <li class="als-item"> <a href="http://viooz.vc/movies/A_Street_Cat_Named_Bob__2016-22196.html" title="Watch A Street Cat Named Bob (2016) Online"> <img src="https://upload.wikimedia.org/wikipedia/en/9/90/Collateral_Beauty_poster.png" alt="A Street Cat Named Bob (2016)" width="95" height="140" border="0"/></a>
            </li>
            <li class="als-item"> <a href="http://viooz.vc/movies/I__Daniel_Blake__2016-22195.html" title="Watch I, Daniel Blake (2016) Online"> <img src="https://upload.wikimedia.org/wikipedia/en/9/90/Collateral_Beauty_poster.png" alt="I, Daniel Blake (2016)" width="95" height="140" border="0"/></a>
            </li>

        </ul>
    </div>
</div>

</body>
</html>
