<!DOCTYPE html>
<html lang="en">
<head>
    <title>MovieFlix</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../styles/style3.css" />
     <link rel="stylesheet" type="text/css" href="../../styles/animate-custom.css" />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 15px;
        }

    </style>
</head>
<body background="http://vignette4.wikia.nocookie.net/zigochen/images/1/14/Black-screen_2511_1.jpg/revision/latest?cb=20121106043000">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#"> <p><font size="7">MovieFlix</font></p></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">TV</a></li>
                <li><a href="#">Toprated</a></li>
                <li class><a href="#">Create Title</a></li>
                <li class="active"><a href="#">Update Title</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="container_demo">
    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
    <div id="wrapper1">
        <div id="login" class="animate form">

            <h1>Update Movie Title</h1>
            <table style="width:100%">
                <tr>
                    <th></th>

                    <th>Name</th>
                    <th>Movie type </th>

                </tr>
                <tr *ngFor="let movie of movieList">
                    <td><input type="radio" name="name1" [(ngModel)]="value" value={{movie.id}}/></td>

                    <td>{{movie.title}}</td>
                    <td> {{movie.type}}</td>
                </tr>
/
            </table>
            <p class="login button">
                <button (click)="submit()" type="button">Delete Title</button>
            </p>

        </div>
    </div>
</div>
</body>
</html>